{% extends 'base.html.twig' %}

{% block title %}Editar Cliente
	{{cliente.id}}
{% endblock %}

{% block body %}

	<div class="container">

		{{ form(form) }}

			<hr>
			<p>
				Cuenta Cliente</p>

			{% if cliente.userCliente == null %}
				{{ form_errors(form2) }}

				{{ form_start(form2) }}
				{{ form_row(form2.username) }}
				{{ form_row(form2.plainPassword, {
            label: 'Password'
        }) }}

				<button type="submit" class="btn">Register</button>
				{{ form_end(form2) }}
			{% endif %}

		</div>


	{% endblock %}
