{% extends 'base.html.twig' %}

{% block title %}Hello PagosController!
{% endblock %}

{% block body %}
<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-8">
					<div class="page-header-title">
						<h5 class="m-b-10"><i class="fa-solid fa-circle-dollar-to-slot me-2"></i>Pagos</h5>
						<p class="m-b-0">Informacion de Pagos</p>
					</div>
				</div>				
			</div>
		</div>
	</div>

	<div class="container ">
		<div class="d-block ">
		</div>

		<div class="mt-5 ">

			<ul class="nav nav-tabs mt-4">

				<li class="nav-item ">
					<a class="nav-link active" href="#">Todos Los Pagos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pagos de Hoy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled">Pagos Vencidos</a>
				</li>
			</ul>
		</div>

		<div class="table-responsive">

			<table class="table  " id="table-prestamos">
				<thead class="table-light ">
					<tr>
						<th scope="col">PAY#</th>
						<th scope="col">Cliente</th>
						<th scope="col">Pago Total</th>
						<th scope="col">Pago Interes</th>
						<th scope="col">Abono Capital</th>

						<th scope="col">Fecha</th>
					</tr>
				</thead>
				<tbody>
					{% for pago in pagos %}

						<tr>
							<th scope="row">PAY#{{ pago.id }}</th>
							<td>{{ pago.prestamo.cliente.name }}</td>
							<td>{{ pago.pagoTotal|number_format(2, ',', '.') }}</td>
							<td>{{ pago.PagoInteres|number_format(2, ',', '.') }}</td>

							<td>{{ pago.abonoCapital|number_format(2, ',', '.') }}</td>
							<td>{{ pago.fecha|date('Y-m-d') }}</td>


						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
