{% extends 'base.html.twig' %}

{% block title %}Prestamos
{% endblock %}

{% block body %}

	<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-8">
					<div class="page-header-title">
						<h5 class="m-b-10"><i class="fa-solid fa-file-invoice-dollar me-2"></i>Prestamos</h5>
						<p class="m-b-0">Gestion de Prestamos</p>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="container">


		<div class="my-3 row g-3">
			<div class="col-md-3">
				<a href="{{ path('app_prestamos_new') }}" type="button" class="text-nowrap btn btn-outline-secondary">
					<i class="fa-solid fa-person-circle-plus me-2"></i>
					<span class="">
						Crear Prestamo
					</span>
				</a>
			</div>
			<div class="col-md-6">
				<div class="input-group ">
					<input type="text" class="form-control" id="input-search-prestamo" placeholder="Buscar Cliente por nombre ...">

				</div>

			</div>

			<div class="col-md-3">

				<select class="form-select" id="filter-status-prestamo" aria-label="Default select example">
					<option selected>TODOS</option>
					<option value="PENDIENTE">PENDIENTE</option>
					<option value="PAGADO">PAGADO</option>
					<option value="CANCELADO">PAGADO</option>

				</select>
			</div>

		</div>


		<div class="table-responsive">

			<table class="table table-secondary table-striped" id="table-prestamos">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Cliente</th>
						<th scope="col">Valor</th>
						<th scope="col">Estado</th>
						<th scope="col">Fecha</th>
						<th scope="col">#</th>
					</tr>
				</thead>
				<tbody>
					{% for prestamo in prestamos %}

						<tr>
							<th scope="row">{{ prestamo.id }}</th>
							<td>{{ prestamo.cliente.name }}</td>
							<td>{{ prestamo.valorTotal|number_format(2, ',', '.') }}</td>
							<td>
								<span class="badge bg-info">
									{{ prestamo.estado }}
								</span>
							</td>
							<td>{{ prestamo.fechaPrestamo|date('Y-m-d') }}</td>
							<td>
								<a href="{{ path('app_prestamos_show', {id: prestamo.id}) }}" type="button" class="btn btn-primary btn-sm">
									<i class="fa-regular fa-eye"></i>

								</a>

							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	 <script src="{{ asset('js/prestamos.index.js') }}"></script>


{% endblock %}
