{% extends 'base.html.twig' %}

{% block title %}Prestamos
{% endblock %}

{% block body %}

	<div class="container " style="min-height:80vh">
		<div class="card ">
			<div class="card-body">
				<div class="d-flex gap-2 ">
					<span>Prestamo</span>
					<h3 scope="row">#{{ prestamo.id }}</h3>
				</div>
                <div class="d-flex gap-2 ">
					<span>Estado</span>
					<h3 scope="row">{{ prestamo.estado }}</h3>
				</div>
				<div class="d-flex gap-2 ">
					<span>Cliente</span>
					<h3 scope="row">{{ prestamo.cliente.name }}</h3>
				</div>
				<div class="d-flex gap-2 ">
					<span>Valor Prestamo</span>
					<h3 scope="row">
                        COP {{ prestamo.valorTotal|number_format(1, '.', ',') }}
					</h3>
				</div>
                <div class="d-flex gap-2 ">
					<span>Pago x Interes</span>
					<h3 scope="row">
                        COP {{ prestamo.valorInteres|number_format(1, '.', ',') }}
					</h3>
				</div>
                <div class="d-flex gap-2 ">
					<span>Deuda Actual</span>
					<h3 scope="row">
                        COP {{ prestamo.deudaActual|number_format(1, '.', ',') }}
					</h3>
				</div>
                <div class="d-flex gap-2 ">
					<span>Porcenta de Interes</span>
					<h5 scope="row">{{ prestamo.porcentajeInteres }}%</h5>
				</div>
                <div class="d-flex gap-2 ">
					<span>Dia del mes para el pago</span>
					<h5 scope="row">{{ prestamo.diaPago }} </h5>
				</div>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					Crear Pago
				</button>

			</div>


		</div>


		<div class="modal fade" tabindex="-1" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Crear Pago</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						{{ form(form) }}

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
